In [42]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [25]:
!pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [59]:
data = pd.read_csv("landdata.csv", delimiter=";")

In [60]:
data.head()

,Type,Name,Address,Place,Current Price (LKR),2022 Price (LKR),2021 Price (LKR),2020 Price (LKR),Rooms,Bed,...,Carpet Area (sqft),Age,Total Floors,Room Floor,Furnished,Loan,Description,Saler Name,Email,Phone Number
0,Land,Property 1,43 Example Road,Colombo 3,69993321,99444722,69252390,4030503,2,5,...,4262,49,14,8,Available,Available,Description of property 1,Seller 1,seller1@example.com,744794023
1,Land,Property 2,50 Example Road,Colombo 3,111314265,81204893,49083023,39997830,6,6,...,4981,9,8,11,Available,Available,Description of property 2,Seller 2,seller2@example.com,748373808
2,Apartment,Property 3,13 Example Road,Kandy,139223012,148862668,106877747,69042918,9,8,...,2285,46,6,17,Semi,Not Available,Description of property 3,Seller 3,seller3@example.com,798384435
3,House,Property 4,24 Example Road,Kandy,187318480,151255060,150013425,30570354,10,7,...,3717,25,2,10,Available,Available,Description of property 4,Seller 4,seller4@example.com,752935647
4,House,Property 5,10 Example Road,Kandy,184084762,115986880,14564604,83027210,6,6,...,4551,30,10,14,Semi,Available,Description of property 5,Seller 5,seller5@example.com,716203409

In [61]:
data = data.drop(['Name', 'Address', 'Description', 'Email','Saler Name','Phone Number'], axis=1)

In [62]:
data.head()

,Type,Place,Current Price (LKR),2022 Price (LKR),2021 Price (LKR),2020 Price (LKR),Rooms,Bed,Deposit Amount (LKR),Status,Bedroom,Bathroom,Balcony,Carpet Area (sqft),Age,Total Floors,Room Floor,Furnished,Loan
0,Land,Colombo 3,69993321,99444722,69252390,4030503,2,5,8130300,Sold,8,3,Yes,4262,49,14,8,Available,Available
1,Land,Colombo 3,111314265,81204893,49083023,39997830,6,6,4029412,Sold,5,4,Yes,4981,9,8,11,Available,Available
2,Apartment,Kandy,139223012,148862668,106877747,69042918,9,8,679693,Available,3,8,No,2285,46,6,17,Semi,Not Available
3,House,Kandy,187318480,151255060,150013425,30570354,10,7,8138009,Available,9,6,Yes,3717,25,2,10,Available,Available
4,House,Kandy,184084762,115986880,14564604,83027210,6,6,1879876,Available,3,7,Yes,4551,30,10,14,Semi,Available

In [64]:
data.isnull().sum()

Type                    0
Place                   0
Current Price (LKR)     0
2022 Price (LKR)        0
2021 Price (LKR)        0
2020 Price (LKR)        0
Rooms                   0
Bed                     0
Deposit Amount (LKR)    0
Status                  0
Bedroom                 0
Bathroom                0
Balcony                 0
Carpet Area (sqft)      0
Age                     0
Total Floors            0
Room Floor              0
Furnished               0
Loan                    0
dtype: int64

In [71]:
X = data.drop('Current Price (LKR)', axis=1)
y = data['Current Price (LKR)']

In [72]:
categorical_features = ['Type', 'Place', 'Status', 'Balcony', 'Furnished','Loan']
numerical_features = ['2022 Price (LKR)', '2021 Price (LKR)', '2020 Price (LKR)', 'Rooms', 'Bed', 
                      'Deposit Amount (LKR)', 'Bedroom', 'Bathroom','Carpet Area (sqft)','Age','Total Floors','Room Floor']

In [73]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [74]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score,accuracy_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [75]:
import numpy as np
scaler = StandardScaler()
X_train_num_scaled = scaler.fit_transform(X_train[numerical_features])
X_test_num_scaled = scaler.transform(X_test[numerical_features])

encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
X_train_cat_encoded = encoder.fit_transform(X_train[categorical_features])
X_test_cat_encoded = encoder.transform(X_test[categorical_features])

X_train_transformed = np.hstack([X_train_num_scaled, X_train_cat_encoded])
X_test_transformed = np.hstack([X_test_num_scaled, X_test_cat_encoded])

/opt/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [76]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np


#  RandomForest model
Rmodel = RandomForestRegressor(n_estimators=100, random_state=42)
Rmodel.fit(X_train_transformed, y_train)


y_train_pred = Rmodel.predict(X_train_transformed)
y_test_pred = Rmodel.predict(X_test_transformed)

# Evaluate the model on training and test sets
train_rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
test_rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

print(f"Training RMSE: {train_rmse:.4f}")
print(f"Training R-squared: {train_r2:.4f}")
print(f"Test RMSE: {test_rmse:.4f}")
print(f"Test R-squared: {test_r2:.4f}")

Training RMSE: 20453896.6146
Training R-squared: 0.8575
Test RMSE: 63518037.9358
Test R-squared: -0.1825

In [79]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline

# Define the preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features), 
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)  
    ])

In [81]:
# Fit the preprocessor and transform the data
X_train_transformed = preprocessor.fit_transform(X_train)
X_test_transformed = preprocessor.transform(X_test)

In [88]:
import pandas as pd

# Example future data (replace these values with your actual data)
future_data = {
    'Type': ['Land'],  # Replace with actual values for prediction
    'Place': ['Colombo 3'],  # Replace with actual place
    'Status': ['Available'],  # Replace with the status (Available or Sold)
    'Balcony': ['Yes'],  # Yes or No for Balcony
    'Furnished': ['Yes'],  # Yes, Semi, or No
    'Loan': ['Available'],  # Available or Not Available
    '2022 Price (LKR)': [99999321],  # Example values for the 2022 price
    '2021 Price (LKR)': [148862668],  # Example values for the 2021 price
    '2020 Price (LKR)': [106877747],  # Example values for the 2020 price
    'Rooms': [2],  # Example room counts
    'Bed': [8],  # Example bed counts
    'Deposit Amount (LKR)': [8130300],  # Example deposit amounts
    'Bedroom': [8],  # Example bedroom counts
    'Bathroom': [3],  # Example bathroom counts
    'Carpet Area (sqft)': [4262],  # Example carpet area in sqft
    'Age': [49],  # Example age of the property
    'Total Floors': [14],  # Example total floors
    'Room Floor': [8]  # Example room floor count
}
new_data_df = pd.DataFrame(future_data)
new_data_processed = preprocessor.transform(new_data_df)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [89]:
predicted_price = Rmodel.predict(new_data_processed)

print(f"Predicted Price: {predicted_price[0]:,.2f}")

Predicted Price: 96,788,695.98

In [97]:

# Example future data (replace these values with your actual data)
future_data2 = {
    'Type': ['Land'],  # Replace with actual values for prediction
    'Place': ['Colombo 3'],  # Replace with actual place
    'Status': ['Available'],  # Replace with the status (Available or Sold)
    'Balcony': ['Yes'],  # Yes or No for Balcony
    'Furnished': ['Yes'],  # Yes, Semi, or No
    'Loan': ['Available'],  # Available or Not Available
    '2022 Price (LKR)': [148862668],  # Example values for the 2022 price
    '2021 Price (LKR)': [106877747],  # Example values for the 2021 price
    '2020 Price (LKR)': predicted_price,  # Example values for the 2020 price
    'Rooms': [2],  # Example room counts
    'Bed': [8],  # Example bed counts
    'Deposit Amount (LKR)': [8130300],  # Example deposit amounts
    'Bedroom': [8],  # Example bedroom counts
    'Bathroom': [3],  # Example bathroom counts
    'Carpet Area (sqft)': [4262],  # Example carpet area in sqft
    'Age': [49],  # Example age of the property
    'Total Floors': [14],  # Example total floors
    'Room Floor': [8]  # Example room floor count
}
new_data_df2 = pd.DataFrame(future_data2)
new_data_processed2 = preprocessor.transform(new_data_df2)

In [98]:
predicted_price2 = Rmodel.predict(new_data_processed2)

print(f"Predicted Price: {predicted_price2[0]:,.2f}")

Predicted Price: 100,388,506.18

In [99]:
# Example future data (replace these values with your actual data)
future_data3 = {
    'Type': ['Land'],  # Replace with actual values for prediction
    'Place': ['Colombo 3'],  # Replace with actual place
    'Status': ['Available'],  # Replace with the status (Available or Sold)
    'Balcony': ['Yes'],  # Yes or No for Balcony
    'Furnished': ['Yes'],  # Yes, Semi, or No
    'Loan': ['Available'],  # Available or Not Available
    '2022 Price (LKR)': [148862668],  # Example values for the 2022 price
    '2021 Price (LKR)': predicted_price,  # Example values for the 2021 price
    '2020 Price (LKR)': predicted_price2,  # Example values for the 2020 price
    'Rooms': [2],  # Example room counts
    'Bed': [8],  # Example bed counts
    'Deposit Amount (LKR)': [8130300],  # Example deposit amounts
    'Bedroom': [8],  # Example bedroom counts
    'Bathroom': [3],  # Example bathroom counts
    'Carpet Area (sqft)': [4262],  # Example carpet area in sqft
    'Age': [49],  # Example age of the property
    'Total Floors': [14],  # Example total floors
    'Room Floor': [8]  # Example room floor count
}
new_data_df3 = pd.DataFrame(future_data3)
new_data_processed3 = preprocessor.transform(new_data_df3)

In [100]:
predicted_price3 = Rmodel.predict(new_data_processed3)

print(f"Predicted Price: {predicted_price3[0]:,.2f}")

Predicted Price: 99,547,646.73

In [102]:
import joblib

joblib.dump(Rmodel, 'house_price_model.pkl')
joblib.dump(preprocessor, 'preprocessor.pkl')

['preprocessor.pkl']