In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
data=pd.read_csv("landdata.csv")

In [4]:
data.head()

  Type;Name;Address;Place;Current Price (LKR);2022 Price (LKR);2021 Price (LKR);2020 Price (LKR);Rooms;Bed;Deposit Amount (LKR);Status;Bedroom;Bathroom;Balcony;Carpet Area (sqft);Age;Total Floors;Room Floor;Furnished;Loan;Description;Saler Name;Email;Phone Number
0  Land;Property 1;43 Example Road;Colombo 3;6999...
1  Land;Property 2;50 Example Road;Colombo 3;1113...
2  Apartment;Property 3;13 Example Road;Kandy;139...
3  House;Property 4;24 Example Road;Kandy;1873184...
4  House;Property 5;10 Example Road;Kandy;1840847...